:root {
  --background: #010626;
  --roxo-main: #762EA6;
  --black-brown: #0D0D0D;
}


/* Login */

body{
  background: var(--background);
}


.container-login{
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  color: black;
  background: white;
  width: 1000px;
  height: 600px;
  border-radius: 20px;
}

.container-login h1{
  padding-top: 5%;
  text-align: center;
  margin-bottom: 5%;
}

.container-login input{
  margin-top: 5%;
  margin-left: 10%;
  width: 300px;
  height: 50px;
  border-radius: 30px;
}

.container-login .login-image{
  position: absolute;
  right: 32%;
  top: 31%;
}

.container-login button{
  border-radius: 20px;
  width: 200px;
  height: 50px;
  color: white;
  background-color: var(--roxo-main);
  font-size: 1.5rem;
  margin-left: 15%;
  margin-top: 5%
}